*{
  /* margin: 0px 10px;
  padding: 0px 10px;
  box-sizing: border-box; */
  /* background-color: #caf0f8; */

}
:root{
  --backColor: #caf0f8;
  --textColor: #03045e;
}

.brand-logo{
  font-family: 'Poppins', sans-serif;
}

.mycard{
  margin: 30px;
}

.auth-card{
  padding: 20px 20px;
  text-align: center;
  width: 450px;
  margin: 10px auto;
  border-radius: 10px;
  height: 400px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #0077b6 !important;
  box-shadow: 0 1px 0 0 #0077b6 !important;
}

